
header {
    display: flex;
    justify-content: space-around;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    
}
.nav {
    font-size: 1.2rem;
    min-width: 30%;
    width:30%;
}
.hammerger {
    display: none;
}


.nav-area {
    display: flex;
    justify-content: space-between;
    padding: 0;
}
.nav-area > li {
    list-style-type: none;
    
}
.nav-area > li > a {
    text-decoration: none;
    color: black;
    font-weight: 700;
}
.header-search {
    display: flex;
    justify-content: center;
    align-items: center;
}
.search {
    padding:7px; 
     border:0;
     border-radius: 15px;
     width:150px;
     height: 30px;
     background-color: rgb(219, 217, 217);
}
/*main part*/

.main{
    height:400px;
    padding-top: 50px;
    text-align: center;
}

.text{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 70px;
    font-weight: bold;
    
}



.subtext{
    padding-top: 15px;
    font-size: 30px; 
    color: gray;
}

.button{
    border:0;
    background-color: rgb(39, 39, 138);
    border-radius:15px;
    color: white;
    font-size: larger;
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 20px;
}


/*second*/

.second{
    height:100%;
    width: 100%; 
    padding:60px;
}

image{
    height:75%;
    width:50%;
   
   
    border-radius:50px;
}

img{
    border :0;
    border-radius:20px;
}



    .bottomDiv{
        
        border-style: outset;
        width: 50%;
        height: 380px;
        position:relative;
        bottom:450px;
        left:700px;
        border-radius:10px;
        background-color: white;
        font-size:100px;
     }



.icon{
    font-size:30px;
    float:inline-end;
    margin-top:130px;
    margin-left: 250px;;
    align-items: center;
    justify-content: center;
    color: gray;
    font-size:35px;   
}



.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }


  /*third layer*/
  .writers {
      width: 75%;
      margin: auto;
      background-color: #1f1fce;
      color: white;
      padding: 3rem 0;
      border-radius: 20px;
  }

.headline {
    text-align: center;
    margin-bottom: 5rem;
    font-size: 2.5rem;
}

.box {
    display: flex;
    flex-direction: column;
}

.images{
     height:100px;
     width:100px;
     border-radius: 50%;
}

.writer_name {
    font-size: 1.1rem;
    margin: 1.5rem 0;
}

.container1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 3rem;
}

.container2{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.wrap {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}
.box{
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hidden {
    display: none;
}
.show {
    display: block;
}
.nav-area-mobile{
    display: none;
}

@media only screen and (max-width: 732px) {
  
    .nav, .header-search {
        display: none;
    }
    .hammerger {
        display: block;
        cursor: pointer;
    }
    .mobileHeader {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }
    header {
        display: block;
    }
    .nav-area-mobile {
        padding: 0;
        text-align: center;
        margin-top: 5%;
    }
    .nav-area-mobile > li {
        list-style-type: none;
        margin-bottom: 5%;
    }
    .nav-area-mobile > li > a {
        text-decoration: none;
        color: black;
        font-weight: 700;
    }
    .hidden {
        display: none;
    }
    .show {
        display: block;
        transition: 2s;
    }
  }